{% extends "../base.html" %}

{% block head %}
    <title>Admin</title>
{% end %}

{% block content %}
    <h3>Users</h3>
    <table>
        <tr>
            <th>eMail Address</th>
            <th>Action</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>
                    <a href="/admin/user?action=edit&uuid={{ user.uuid }}">Edit</a>
                    <form method="post" action="/admin/user">
                        <input type="hidden" name="action" value="delete">
                        <input type="hidden" name="uuid" value="{{ user.uuid }}">

                        <button href="#" type="submit">Delete</button>

                        
                    </form>
                </td>
            </tr>
        {% end %}
    </table>
{% end %}
