{% extends '../base.html' %} 

{% block head %} 
    {% if user.uuid == 'new' %}
        <title>Create user</title>
        {% set action = 'create' %}
    {% else %}
        <title>Edit user</title>
        {% set action = 'edit' %}
    {% end %} 
{% end %} 

{% block content %}
    <form method="post" action='/admin/user'>
        <input type="hidden" name="action" value="{{ action }}">
        <input type="hidden" name="uuid" value="{{ user.uuid }}">
        <div class="form-group">
            <label for="inputEmail">eMail</label>
            <input id="inputEmail" name="email" class="form-control" type="email" required="required" value="{{ user.email }}">
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input id="inputPassword" name="password" class="form-control" type="password" placeholder="Not changed">
        </div>

        <div class="form-group">
            <label for="inputConfirmPassword">Confirm password</label>
            <input id="inputConfirmPassword" name="confirm_password" class="form-control" type="password">
        </div>

        <button class="btn btn-primary">Save</button>
    </form>
{% end %}