{% extends "base.html" %} {% block content %}
<script src="{{ static_url('js/ws_client/rpc_client.js') }}" type="text/javascript"></script>

<div class="btn-group btn-group-justified" role="group">
    <a href="#" role="button" class="btn btn-default" id="btn_play">Play</a>
    <a href="#" role="button" class="btn btn-default" id="btn_pause">Pause</a>
    <a href="#" role="button" class="btn btn-default" id="btn_previous">Previous</a>
    <a href="#" role="button" class="btn btn-default" id="btn_next">Next</a>
    <a href="#" role="button" class="btn btn-default" id="btn_stop">Stop</a>
</div>

<div class="status"></div>

<script type="text/javascript">
$(document).ready(function() {

    var S_MPD_AC_PLAYING = "MPD AC Playing: ";
    var S_MPD_AC_PAUSED = "MPD AC Paused";
    var S_MPD_AC_STOPPED = "MPD AC Stopped";

    client = new RPCClient();
    client.connect('ws://{{ request.host }}/ws', function() {
        client.call('echo', {response: "Connected" }, function(evt) {
            var pause = true;

            function set_mpd_status(evt) {
                if (evt.state === 'pause') {
                    $('#btn_pause').addClass('active');
                    $('.status').html(S_MPD_AC_PAUSED);
                    pause = true;
                } else if (evt.state === 'play') {
                    $('#btn_pause').removeClass('active');
                    pause = false;
                } else {
                    pause = true;
                    $('.status').html(S_MPD_AC_STOPPED);
                }
            }

            function set_mpd_currentsong(evt) {
                if (!pause) {
                    $('.status').html(S_MPD_AC_PLAYING + evt.title);
                }
            }

            client.subscribe('mpd.currentsong', function(evt){
                set_mpd_currentsong(evt);
            });

            client.subscribe('mpd.status', function(evt){
                set_mpd_status(evt);
            });

            client.call('mpd.status', {}, function(evt){
                set_mpd_status(evt);
            });

            client.call('mpd.currentsong', {}, function(evt){
                set_mpd_currentsong(evt);
            });

        });

        $('#btn_play').click(function(){
            client.call('mpd.play', {})
        });

        $('#btn_pause').click(function() {
            client.call('mpd.pause');
        });

        $('#btn_next').click(function() {
            client.call('mpd.next');
        });

        $('btn_previous').click(function(){
            client.call('mpd.previous');
        });

        $('#btn_stop').click(function(){
            client.call('mpd.stop');
        });
        
    });
});




    </script> {% end %}

{% block head %}
    <title class="status">Play</title>

    <style type="text/css">
        div.status {
            width: 100%;
            text-align: center;
            font-size: 1.6em;
            margin: 30px 0;
            height: 40px;
        }
    </style>
{% end %}